:root{
    --primary-color: #361e73;
    --secondary-color: #b96edc ;
    --tertiary-color: #d3a8e6;
    --feedback-color: #e4e4e4;
    --button-text-color: #e5e4ec;
}

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none !important;
    color: var(--secondary-color);
}

body{
    display: grid;
    grid-template-areas: 
        'h h h h h h h h h'
        '. . . m m m . . .'
        '. . . . . . . . .';
    grid-gap: 80px;
    
}
button {
    color: var(--button-text-color);
    background-color: var(--primary-color);
    border: none;
    font-size: 16px;
    border-radius: 10px;
    padding: 1em 3em;
    
}

button:hover{
    background-color: var(--secondary-color);
}

.text-centered {
    text-align: center;
}

.horizontal-row{
    border-top: 1px solid var(--feedback-color);
}

.header{
    grid-area: h;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;

}

.main{
    grid-area: m;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.main-content{
    margin-bottom: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-self: stretch;
}

.answer-choices{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.answer-button {
  width: 30%;
  text-align: left;
  margin-bottom: 0.8%;
  word-wrap: none;
}

#previous-result{
    line-height: 1.6;
    color: var(--feedback-color);
    font-style: italic;
    font-size: 20px;
}

.flex-start{
    align-self: flex-start;
}

.result-content{
    margin-bottom: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-self: stretch;
}

.highscore-submission{
    margin-bottom: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

input[type=text], select {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
  }

.submit-button{
    border-radius: 5px;
    padding: 0.3em 0.8em;
    margin-right: 5px;
}

.high-score{
    margin-bottom: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-self: stretch;
    background-color: var(--tertiary-color);
}